.container {
    margin: 0 auto;
    max-width: 1080px;
    text-align: center;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 1rem 0;
}
